body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
}

section {
    border: solid 1px #CCC;
    width: 300px
}

section h2, section p, section button {
    margin-left: 20px;
    margin-right: 20px;
}
section img {
    width: 100%;
}
/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
    /* main {
        flex-wrap: wrap;
    } */
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {

    
}